<html>

<head>
	<title>{{className}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
		integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

	{{!-- <link href="css/style.css" rel="stylesheet"> --}}

	{{!-- CSS --}}
	<link href="/css/newStyle.css" rel="stylesheet">

	{{!-- Font Awesome --}}
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	{{!-- Google Fonts (Roboto) --}}
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-158830494-2', 'auto');
		ga('send', 'pageview');
	</script>
</head>

<body>
	<div class="container">
		<header class="app-header">
			<div class="centered-outer">
				<div class="centered-inner-buttons header-text">
					<a href="/myClasses">
						<i class="fa fa-arrow-left back-button"></i>
						{{!-- <button type=" submit" name="class-button" class="class-add-button">
						<img src="../images/plus.png" style="">
					</button> --}}
					</a>
					<div class="centered-inner info-text">
						<h3>{{className}}</h3>
						<h5>{{classProfessor}}</h5>
					</div>
					<a href="#">
						<i class="fa fa-plus class-add-button"></i>
					</a>
				</div>

			</div>

		</header>

		<div class="content">
			<a
				href="/class/{{className}}/textbooksA?description={{classDescription}}&professor={{classProfessor}}&quarter={{classQuarter}}">
				<div class="card card-neutral mb-2 textbook-a">
					<div class="card-block">
						<div>
							Textbooks A
						</div>
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
			</a>

			<a
				href="/class/{{className}}/textbooksB?description={{classDescription}}&professor={{classProfessor}}&quarter={{classQuarter}}">
				<div class="card card-neutral mb-2 textbook-b">
					<div class="card-block">
						<div>
							Textbooks B
						</div>
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
			</a>

			<a
				href="/class/{{className}}/classnotes?description={{classDescription}}&professor={{classProfessor}}&quarter={{classQuarter}}">
				<div class="card card-neutral mb-2">
					<div class="card-block">
						<div>
							Class Notes
						</div>
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
			</a>

			<a
				href="/class/{{className}}/practiceexams?description={{classDescription}}&professor={{classProfessor}}&quarter={{classQuarter}}">
				<div class="card card-neutral mb-2">
					<div class="card-block">
						<div>
							Practice Exams
						</div>
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
			</a>
		</div>

		<footer class="app-footer">
			<ul>
				<a href="/search">
					<li>
						<i class="fa fa-search"></i>
						{{!-- <p>Search Classes</p> --}}
						<p>Search</p>
					</li>
				</a>
				<a href="/myClasses">
					<li>
						<i class="fa fa-book"></i>
						{{!-- <p>My Classes</p> --}}
						<p>My Classes</p>
					</li>
				</a>
				<a href="/profile">
					<li>
						<i class="fa fa-user"></i>
						{{!-- <p>My Profile</p> --}}
						<p>Profile</p>
					</li>
				</a>
			</ul>
		</footer>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/classManager.js"></script>
</body>

</html>